body {

}

.starter-template {
  padding: 40px 15px;

}

#map {
  width: 1200px;
  height: 850px;
  padding-top: 50px;
  border: solid black 1px;
}

.king1 {
  position: absolute;
	top: 600px;
  left: 450px;
}

.king-pop{
  padding: 10px;
  display: block;
  border: solid 4px gray;
  background-color: white;
  width: 300px;
}
