.bbdata {
  max-width: 90%;
}
.bbcontent {
  background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 24 24"><path fill="%23B0E0E6" d="M12,5.32L18,8.69V15.31L12,18.68L6,15.31V8.69L12,5.32M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z" /></svg>') no-repeat center center;
}
.photo {
  width: 300px;
  height: 150px;
  object-fit: cover;
  margin: 5px;
}
.calendar {
  leight: 500px;

}
.tag_cloud li {
  display: inline-block;
  padding: .3em;
  list-style-type: none;
}
.tg_10 {
  font-size: 300%;
}
.tg_9 {
  font-size: 280%;
}
.tg_8 {
  font-size: 260%;
}
.tg_7 {
  font-size: 240%;
}
.tg_6 {
  font-size: 220%;
}
.tg_5 {
  font-size: 200%;
}
.tg_4 {
  font-size: 180%;
}
.tg_3 {
  font-size: 160%;
}
.tg_2 {
  font-size: 140%;
}
.tg_1 {
  font-size: 120%;
}
.tg_0 {
  font-size: 100%;
}
